.App {
  text-align: center;
  margin-top: 10%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 37%;
}

button {
  margin-top: 10%;
  padding: 5%;
  font-weight: bolder;
  font-size: larger;
}

.add_button {
  background-color: #663797;
  color: white;
}

.reset_button {
  background-color: whitesmoke;
}